extends ../layout

block content
  .container.l
    h3 Profile Information
  .container.s.center
    form(action='/account/profile', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
        
      label(for='email') Email
      input(type='email', name='email', id='email', value=user.email)
        
      label(for='name') Name
      input(type='text', name='name', id='name', value=user.profile.name)
        
      label(for='location') Location
      input(type='text', name='location', id='location', value=user.profile.location)
        
      label(for='website') Website
      input(type='text', name='website', id='website', value=user.profile.website)

      label Gravatar
      img.profile-picture-large(src=user.gravatar())

      button(type='submit')
        | Update Profile

    
    h3 Change Password

    form(action='/account/password', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)

      label(for='password') New Password
      input(type='password', name='password', id='password')
      
      label(for='confirmPassword') Confirm Password
      input(type='password', name='confirmPassword', id='confirmPassword')
        
      button(type='submit')
        | Change Password

    h3 Delete Account

    form(action='/account/delete', method='POST')
        p You can delete your account, but keep in mind this action is irreversible.
        input(type='hidden', name='_csrf', value=_csrf)
      
        button(type='submit')
          | Delete my account

    h3 Linked Accounts
  
    //- if user.instagram
    //-   p: a.text-danger(href='/account/unlink/instagram') Unlink your Instagram account
    //- else
    //-   p: a(href='/auth/instagram') Link your Instagram account
  
    if user.google
      a.button.google.block(href='/account/unlink/google') Unlink your Google account
    else
      a.button.google.block(href='/auth/google') Link your Google account

    if user.facebook
      a.button.facebook.block(href='/account/unlink/facebook') Unlink your Facebook account
    else
      a.button.facebook.block(href='/auth/facebook') Link your Facebook account
    
    //- if user.twitter
    //-   p: a.text-danger(href='/account/unlink/twitter') Unlink your Twitter account
    //- else
    //-   p: a(href='/auth/twitter') Link your Twitter account
  
    //- if user.github
    //-   p: a.text-danger(href='/account/unlink/github') Unlink your GitHub account
    //- else
    //-   p: a(href='/auth/github') Link your GitHub account
    //- 
    //- if user.linkedin
    //-   p: a.text-danger(href='/account/unlink/linkedin') Unlink your LinkedIn account
    //- else
    //-   p: a(href='/auth/linkedin') Link your LinkedIn account
